@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root {
    --fonte_titulo: Oswald, sans-serif;
    --fonte_coisada: Titillium Web, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
@keyframes deslizar_para_baixo {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0px);
    }
}
@keyframes surgir {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 105, 105, 0.103);
    margin:8px;
    border-radius: 20px;
    padding: 5px;
    animation: surgir 8s;
}
header a {
    color: blue;
}
a {
    color: black;
    text-decoration: none;
    font-family: var(--fonte_coisada);
    font-size: 1.3rem;
} 
a:hover {
    color: purple;
}
h1 {
    font-family: var(--fonte_titulo);
    font-size: 3.2rem;
    animation: deslizar_para_baixo 3.5s;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
    margin-right: 20px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
div.container_itens {
    display: flex;
    flex-wrap: wrap;
    animation:  deslizar_para_baixo 3s;
}

@media screen and (min-width: 900px) {
    section {
        width: 700px;
        margin-top: 30px;
    }
    div.container_itens {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.itens {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100px;
        background-color: rgba(105, 105, 105, 0.103);
        margin: 10px;
        border-radius: 8px;
        padding: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    section {
        width: 400px;
        height: 600px;
        margin-top: 30px;
        overflow: hidden;
        overflow-y: scroll;
    }
    section::-webkit-scrollbar {
        background-color: rgb(105, 105, 105, 0.103);
        width: 10px;
        border-radius: 50px;
    }
    section::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 50px;
        background-color: black;
    }
    div.container_itens {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.itens {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 80px;
        background-color: rgba(105, 105, 105, 0.103);
        margin: 10px;
        border-radius: 8px;
        padding: 10px;
        text-align: center;
    }
    div.itens a {
        font-size: 1rem;
    }
}
